.container {
    background-color: whitesmoke;
}

.joke {
    text-align: center;
    border: 2px solid black;
}

.newjoke {
    text-align: center;
    border: 2px solid black;
}

.newjoke p {
    color: lawngreen;
}

p {
    color: lightsalmon;
}

#joke-text {
    color: red;
}

#new-joke-text {
    color: springgreen;
}